body {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./assets/body-background.jpg");
  background-size: cover;
}

h3 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 20px;
  color: #fff;
  width: fit-content;
}

.header-logo {
  background-image: url("./assets/header-logo.png");
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
  display: block;
  height: 90px;
  left: 20px;
  position: fixed;
  top: 20px;
  width: 186px;
  z-index: 3;
  cursor: pointer;
}

#homeButton,
#menuButton,
#contactButton {
  background-color: #008345;
  margin: 15px;
  font-size: 14px;
  padding: 10px 35px;
  z-index: 3;
  position: fixed;
  top: 15px;
}

#homeButton {
  right: 327px;
}

#menuButton {
  right: 191px;
}

#contactButton {
  right: 0px;
}

@media all and (max-width: 1080px) {
  #homeButton,
  #menuButton,
  #contactButton {
    display: none;
  }
}

#homeButton:hover,
#menuButton:hover,
#contactButton:hover {
  background-color: #fff;
  color: rgb(180, 5, 5);
}

section.body {
  display: flex;
  width: fit-content;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 10%;
  background-color: rgba(0, 0, 0, 0.3);
}

.genericButton {
  display: inline-block;
  border-radius: 4px;
  border: 3px solid transparent;
  box-shadow: 2px 4px 4px rgb(37 32 36 /30%);
  cursor: pointer;
  color: #fff;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  letter-spacing: 1px;
  line-height: 1.4em;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

#orderButton {
  background-color: #008345;
  margin-bottom: 15px;
  font-size: 19px;
  padding: 14px 45px;
  width: fit-content;
}

#orderButton:hover {
  background-color: #fff;
  color: rgb(180, 5, 5);
}

#menuImages {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

footer {
  border: 1px solid black;
}
